html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(0.25turn, #3772ff);
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

.header__title {
  font-size: 3rem;
  color: white;
  letter-spacing: 3px;
}

.search {
  width: 100%;
  max-width: 400px;
}

.search__form {
  display: flex;
  gap: 0.5rem;
}

.search__form > input[type='text'] {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  color: #000000f8;
  outline: none;
}

.search__form > input[type='submit'] {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #fdca40;
  padding: 0rem 0.6rem;
}

.search__form > input[type='submit']:hover {
  background-color: #fdcb40d3;
}

.gifs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  gap: 20px;
}

.gifs img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
